@import "../variables.css";


.emulators {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

}

.emulators .spacer {
    margin: 0 auto;
    height: 4px;
    width: 600px;
    border-radius: 2px;
    background-color: var(--accented);
}