@import "../variables.css";
.game-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;

    padding-left: 30px;
}

.form-button {
    align-self: flex-end;
}
.form-button button {
    font-size: 1.1em;
    padding: .3em .8em;
    border: 1px solid #000;
    background-color: #fff;

    cursor: pointer;
}
.form-button button:hover {

    box-shadow:  0 0 8px var(--green);
}
.form-button button:active {
    box-shadow:  none;

    transform: translateY(2px);
}